<h1><font color="red">House Price Prediction Model </font></h1>

# Import of librares

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import  train_test_split
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns

# Load of Data

In [2]:
data=pd.read_csv('HousePrices_HalfMil.csv')
data.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden,Prices
0,164,2,0,2,0,1,0,0,3,1,1,1,1,0,0,43800
1,84,2,0,4,0,0,1,1,2,0,0,0,1,1,1,37550
2,190,2,4,4,1,0,0,0,2,0,0,1,0,0,0,49500
3,75,2,4,4,0,0,1,1,1,1,1,1,1,1,1,50075
4,148,1,4,2,1,0,0,1,2,1,0,0,1,1,1,52400

# seeing colums(featurs and target of data)

In [3]:
data.columns

Index(['Area', 'Garage', 'FirePlace', 'Baths', 'White Marble', 'Black Marble',
       'Indian Marble', 'Floors', 'City', 'Solar', 'Electric', 'Fiber',
       'Glass Doors', 'Swiming Pool', 'Garden', 'Prices'],
      dtype='object')

# data description 
<p> counting total values of featurs and targests , their mean , maximum value , minimum value, 25% and 75% values </p>

In [4]:
data.describe()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden,Prices
count,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.00000,500000.000000,500000.00000,500000.000000,500000.000000,500000.000000
mean,124.929554,2.001290,2.003398,2.998074,0.332992,0.332690,0.334318,0.499386,2.000940,0.498694,0.50065,0.500468,0.49987,0.500436,0.501646,42050.139350
std,71.795363,0.817005,1.414021,1.414227,0.471284,0.471177,0.471752,0.500000,0.816209,0.499999,0.50000,0.500000,0.50000,0.500000,0.499998,12110.237201
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,7725.000000
25%,63.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,33500.000000
50%,125.000000,2.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.00000,1.000000,0.00000,1.000000,1.000000,41850.000000
75%,187.000000,3.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,50750.000000
max,249.000000,3.000000,4.000000,5.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,77975.000000

# Features selection for model
<p> Here the Prices are target all other colums are featurs

In [5]:
x=data[['Area', 'Garage', 'FirePlace', 'Baths', 'White Marble', 'Black Marble',
       'Indian Marble', 'Floors', 'City', 'Solar', 'Electric', 'Fiber',
       'Glass Doors', 'Swiming Pool', 'Garden']]

x.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden
0,164,2,0,2,0,1,0,0,3,1,1,1,1,0,0
1,84,2,0,4,0,0,1,1,2,0,0,0,1,1,1
2,190,2,4,4,1,0,0,0,2,0,0,1,0,0,0
3,75,2,4,4,0,0,1,1,1,1,1,1,1,1,1
4,148,1,4,2,1,0,0,1,2,1,0,0,1,1,1

In [8]:
y=data[['Prices']]
y.head()

   Prices
0   43800
1   37550
2   49500
3   50075
4   52400

# Adding a bias vector

In [6]:
m=x.shape[0]
a=np.ones((m,1))
x.insert(0,"onces",a)

# Spliting data in train and test set

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1)
print('Train set',x_train.shape,y_train.shape)
print('Test set',x_test.shape,y_test.shape)

Train set (450000, 16) (450000, 1)
Test set (50000, 16) (50000, 1)

# chossing algoritm for model

In [10]:
model=linear_model.LinearRegression()
train_x=np.asanyarray(x_train)
train_y=np.asanyarray(y_train)

# changing data type of train_x,y and test_x,y

In [11]:
train_x=np.asanyarray(x_train)
train_y=np.asanyarray(y_train)
test_x=np.asanyarray(x_test)
test_y=np.asanyarray(y_test)
train_x[0:5]

array([[  1., 244.,   2.,   1.,   1.,   0.,   1.,   0.,   1.,   2.,   0.,
          1.,   1.,   1.,   0.,   0.],
       [  1., 205.,   3.,   3.,   3.,   0.,   0.,   1.,   1.,   2.,   0.,
          1.,   1.,   0.,   0.,   1.],
       [  1.,  65.,   2.,   2.,   3.,   0.,   1.,   0.,   0.,   1.,   0.,
          0.,   1.,   0.,   1.,   1.],
       [  1.,  57.,   3.,   2.,   4.,   1.,   0.,   0.,   1.,   3.,   0.,
          1.,   1.,   0.,   1.,   1.],
       [  1., 194.,   3.,   4.,   1.,   1.,   0.,   0.,   1.,   1.,   1.,
          0.,   0.,   1.,   1.,   0.]])

In [13]:
model.fit(train_x,train_y)

LinearRegression()

# Model evaluation

<h3> Model accuary </h3>

In [14]:
y_predict_test=model.predict(test_x)
y_predict_train=model.predict(train_x)
print('accuracy of traning set: {} %'.format(r2_score(y_predict_train, y_train)*100) )


print('accuracy of testing set: {} %'.format( r2_score(y_predict_test, y_test)*100))

accuracy of traning set: 100.0 %
accuracy of testing set: 100.0 %

<h3>MSE and MAE Errror calculation</h3>

In [15]:
print('Mean absolute error of training set: %.2f'% np.mean(np.absolute(y_predict_train - y_train)))
print('Mean absolute error of testing set : %.2f'% np.mean(np.absolute(y_predict_test - y_test)))

Mean absolute error of training set: 0.00
Mean absolute error of testing set : 0.00

In [17]:
print('Mean Squared Error of training set : %.2f' %mean_squared_error(y_train,y_predict_train))
print('Mean Squared Error of testing set : %.2f' %mean_squared_error(y_test,y_predict_test))

Mean Squared Error of training set : 0.00
Mean Squared Error of testing set : 0.00